docker-pycreds==0.4.0
annotated-types==0.7.0
setproctitle==1.3.5
typing_extensions==4.12.2
pydantic_core==2.27.2
GitPython==3.1.44
smmap==5.0.2
gitdb==4.0.12
wandb==0.19.8
pydantic==2.10.6
sentry-sdk==2.23.1
colorama==0.4.6
imagecodecs==2024.12.30
clang==17.0.6
shapely==2.0.6
efficientnet-pytorch==0.7.1
safetensors==0.4.5
tifffile==2025.2.18
seaborn==0.13.2
huggingface-hub==0.26.5
pyogrio==0.10.0
segmentation-models-pytorch==0.3.4
pretrainedmodels==0.7.4
munch==4.0.0
pip==25.0.1
geopandas==1.0.1
timm==0.9.7
pyproj==3.7.0
transformer-engine==0.12.0+170797
einops==0.7.0
flash-attn==2.0.4
torch-tensorrt==0.0.0
polygraphy==0.49.0
pytorch-quantization==2.1.2
prettytable==3.9.0
nvidia-pyindex==1.0.9
sphinx-glpi-theme==0.3
tensorrt==8.6.1
graphsurgeon==0.4.6
uff==0.6.9
nvtx==0.2.5
cupy-cuda12x==12.1.0
rmm==23.8.0
pynvml==11.4.1
llvmlite==0.40.1
cuda-python==12.2.0rc5+5.g84845d1
pylibraft==23.8.0
dask==2023.7.1
networkx==2.6.3
zipp==3.16.2
locket==1.0.0
dask-cudf==23.8.0
distributed==2023.7.1
cugraph-service-client==23.8.0
xgboost==1.7.5
frozenlist==1.4.0
cugraph-service-server==23.8.0
zict==3.0.0
pylibcugraph==23.8.0
msgpack==1.0.5
pylibcugraphops==23.8.0
fsspec==2023.6.0
scipy==1.11.1
charset-normalizer==3.2.0
cugraph==23.8.0
pandas==1.5.3
urllib3==1.26.16
thriftpy2==0.4.16
tblib==2.0.0
cuml==23.8.0
ply==3.11
numba==0.57.1+1.g5fba9aa8f
treelite-runtime==3.2.0
partd==1.4.0
click==8.1.6
importlib-metadata==6.8.0
psutil==5.9.4
cudf==23.8.0
packaging==23.1
dask-cuda==23.8.0
scikit-learn==1.2.0
aiohttp==3.8.5
treelite==3.2.0
raft-dask==23.8.0
aiosignal==1.3.1
pytz==2023.3
yarl==1.9.2
ptxcompiler==0.8.1+1.g2cb1b35
cloudpickle==2.2.1
cugraph-dgl==23.8.0
cubinlinker==0.3.0+2.gce0680b
fastrlock==0.8.1
pyarrow==11.0.0
toolz==0.12.0
async-timeout==4.0.3
ucx-py==0.33.0
multidict==6.0.4
tabulate==0.9.0
Pillow==9.2.0
torchvision==0.16.0a0
pybind11-global==2.11.1
ninja==1.11.1.1
onnx==1.14.0
apex==0.1
protobuf==4.24.4
torchtext==0.16.0a0
torchdata==0.7.0a0
contourpy==1.1.1
pycocotools==2.0+nv0.7.3
matplotlib==3.8.0
pyparsing==3.1.1
cycler==0.12.1
kiwisolver==1.4.5
fonttools==4.43.1
gast==0.5.4
nvidia-dali-cuda120==1.30.0
dm-tree==0.1.8
triton==2.1.0+e621604
types-dataclasses==0.6.6
mpmath==1.3.0
torch==2.1.0a0+32f93b1
filelock==3.12.4
sympy==1.12
opencv==4.7.0
jupyter-tensorboard==0.2.0
mdurl==0.1.2
markdown-it-py==3.0.0
mdit-py-plugins==0.4.0
toml==0.10.2
jupytext==1.15.2
debugpy==1.8.0
fastjsonschema==2.18.1
nest-asyncio==1.5.8
defusedxml==0.7.1
tensorboard-data-server==0.6.1
pyasn1==0.5.0
nbclient==0.8.0
pure-eval==0.2.2
stack-data==0.6.3
google-auth-oauthlib==0.4.6
jsonschema==4.19.1
argon2-cffi-bindings==21.2.0
prometheus-client==0.17.1
grpcio==1.59.0
requests-oauthlib==1.3.1
tensorboard==2.9.0
pandocfilters==1.5.0
jsonschema-specifications==2023.7.1
jupyter_core==5.3.2
pexpect==4.8.0
Markdown==3.4.4
ipykernel==6.25.2
Pygments==2.16.1
notebook==6.4.10
asttokens==2.4.0
pyasn1-modules==0.3.0
ptyprocess==0.7.0
soupsieve==2.5
nbformat==5.9.2
google-auth==2.23.2
jupyterlab==2.3.2
pickleshare==0.7.5
tornado==6.3.3
json5==0.9.14
python-dateutil==2.8.2
Werkzeug==3.0.0
rsa==4.9
Send2Trash==1.8.2
terminado==0.17.1
beautifulsoup4==4.12.2
jupyterlab-server==1.2.0
backcall==0.2.0
parso==0.8.3
jupyter_client==8.3.1
referencing==0.30.2
traitlets==5.9.0
bleach==6.0.0
ipython==8.16.1
python-hostlist==1.23.0
comm==0.1.4
cachetools==5.3.1
matplotlib-inline==0.1.6
mistune==3.0.2
oauthlib==3.2.2
prompt-toolkit==3.0.39
jupyterlab-pygments==0.2.2
absl-py==2.0.0
wcwidth==0.2.8
jedi==0.19.1
nbconvert==7.9.2
ipython-genutils==0.2.0
tensorboard-plugin-wit==1.8.1
tinycss2==1.2.1
webencodings==0.5.1
rpds-py==0.10.4
argon2-cffi==23.1.0
pyzmq==25.1.1
executing==2.0.0
platformdirs==3.11.0
pluggy==1.3.0
murmurhash==1.0.10
pycparser==2.21
MarkupSafe==2.1.3
blis==0.7.11
hypothesis==5.35.1
pathy==0.10.2
pytest==7.4.2
execnet==2.0.2
pybind11==2.11.1
xdoctest==1.0.2
pytest-xdist==3.3.1
Jinja2==3.1.2
srsly==2.4.8
PyYAML==6.0.1
spacy==3.7.1
audioread==3.0.1
spacy-legacy==3.0.12
astunparse==1.6.3
tomli==2.0.1
threadpoolctl==3.2.0
mkl==2021.1.1
smart-open==6.4.0
attrs==23.1.0
six==1.16.0
pytest-flakefinder==1.1.0
thinc==8.2.1
requests==2.31.0
exceptiongroup==1.1.3
pytest-rerunfailures==12.0
soundfile==0.12.1
resampy==0.4.2
intel-openmp==2021.4.0
tqdm==4.66.1
joblib==1.3.2
confection==0.1.3
catalogue==2.0.10
mock==5.1.0
preshed==3.0.9
sortedcontainers==2.4.0
langcodes==3.3.0
Cython==3.0.3
cymem==2.0.8
decorator==5.1.1
wasabi==1.1.2
spacy-loggers==1.0.5
tbb==2021.10.0
librosa==0.9.2
pooch==1.7.0
weasel==0.3.2
regex==2023.10.3
mkl-include==2021.1.1
expecttest==0.1.3
pytest-shard==0.1.2
iniconfig==2.0.0
cffi==1.16.0
typer==0.9.0
numpy==1.22.2
certifi==2023.7.22
idna==3.4
mkl-devel==2021.1.1
cloudpathlib==0.15.1
cmake==3.27.6
wheel==0.41.2
setuptools==68.2.2
nvfuser==0.0.20+gitunknown
